@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&family=Markazi+Text:wght@400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Karla", "Markazi Text", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #edefee;
  color: #333333;
}

h1, .display-t {
  font-family: "Markazi Text";
  font-size: 4rem;
  font-weight: 500;
}

h2, .sb-t {
  font-family: "Markazi Text";
  font-size: 2.5rem;
  font-weight: 400;
}

h3, .lead-t {
  font-family: "Karla";
  font-size: 1.125rem;
  font-weight: 500;
}

h4, .sec-t {
  font-family: "Karla";
  font-size: 1.25rem;
  font-weight: 800;
}

h5, .sec-cat {
  font-family: "Karla";
  font-size: 1rem;
  font-weight: 800;
}

h6, .card-t {
  font-family: "Karla";
  font-size: 1.125rem;
  font-weight: 700;
}

p, .p-txt {
  font-family: "Karla";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

span, .hl-txt {
  font-family: "Karla";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.txt-light {
  color: #edefee;
}

.txt-pr {
  color: #f4ce14;
}

.bg-pr {
  background-color: #495e57;
}

.bg-white {
  background-color: #fafafa;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color:#333333;
}


/* spacing between children elements */
.container > div > div > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-width: 768px;
  margin:auto;
}

header nav li {
  display:inline;
  padding: 0.5rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 2rem;
  max-width: 768px;
  margin:auto;
}

.one, .half, .one-third, .one-fourth {
  flex: 0 0 auto;
  width: 100%;
}
.landingImg {
  float: right;
  height: 200px;
  width: 200px;
}

form > label {
  font-family: "Karla";
  font-size: 1.125rem;
  font-weight: 700;
}

form > select, input, option {
  font-family: "Markazi Text";
  font-size: 2.5rem;
  font-weight: 400;
  background-color: #edefee;
  color:#495e57
}

form > select, form > input {
padding: 0.5rem;
text-align: center;
height: 3rem;
width: 25rem;
border-radius: 0.5rem;
border: 0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
form > select {
  -ms-box-sizing:content-box;
-moz-box-sizing:content-box;
-webkit-box-sizing:content-box;
box-sizing:content-box;
}

@media screen and (min-width: 768px) {
  /* md Grid with 8 column */

  .one {
    flex: 0 0 auto;
    width: 100%;
  }

  .half {
    flex: 0 0 auto;
    width: calc(95% / 2);
  }

  .landingImg {
    flex: 0 0 auto;
    width: calc(80% / 2);
  }

  .one-third {
    flex: 0 0 auto;
    width: calc(88% / 3);
  }

  .one-fourth {
    flex: 0 0 auto;
    width: calc(90% / 4);
  }
}
@media screen and (min-width: 992px) {

  .container {
/*     display:grid; */
    column-gap: 1rem;
  }
  .card div.img {
    width: 18vw;
    padding-bottom: 75%;
  }
}